<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @posts_category.name %>
</p>

<%= link_to 'Edit', edit_posts_category_path(@posts_category) %> |
<%= link_to 'Back', posts_categories_path %>
