<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @posts_status.name %>
</p>

<%= link_to 'Edit', edit_posts_status_path(@posts_status) %> |
<%= link_to 'Back', posts_statuses_path %>
